@import url('https://fonts.googleapis.com/css?family=McLaren&text=MNmn');

body {
  background-color: #333333 ;
  font-family: "McLaren";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "McLaren";
}

.header{
  background-color:black;
}

.card {
  background-color: rgba(17, 16, 15, 0.74);
  color: white;
}

.cards-container {
  max-width: 300px;
  height: 550px;
  margin: 3px;
  transform: scale(0.9,0.9)
}

.characters{
  display: flex;
  flex-wrap: wrap;
  line-height: 0.9em;
}

.container {
  max-width: 90%;
  margin-bottom: 2em;
}

header {
  overflow: hidden;
  margin: 0;
}

header img {
  margin-left: 50%;
  transform: translateX(-50%);
}

.searchbar{
  background-color: #333333;
  display: flex;
  min-width: 70%;
  min-height: 40px;
  justify-content: space-around;
  outline: none; 
  border: 2px solid grey;
  margin-top: 30px;
  color: white
}

.searchbar-div{
  display: flex;
  justify-content: space-around;
}

.character-detail{
  font-family: "McLaren";
  color:white;
  background-color:#222120;
  border-radius: 10px ;
  margin: auto;
  width: 70%;
  padding: 20px;
  margin-top: 20px;
  min-height: 500px;
}

.profile-image{
  max-width: 100%;
  height: auto;
  transform: scale(0.8,0.8);
}

.card-body{
  background-color:#222120;
  font-family: "McLaren";
  margin-bottom: 2em;
  height: 550px;
}

.detail-top{
  margin-right: 50px;
  float: left;
}

h3{
  padding-bottom: 10px;
}

h4{
  padding-bottom: 5px;
}

.linkback{
  margin-top:10px
}
